{% extends 'accounts/main.html' %}

{% block content %}

<br>

<main class="row px-5 gx-0">
    <section class="col-md px-1">
        <div class="card card-body">
            <h5>Products</h5>
        </div>
        <div class="card card-body">
            <table class="table">
                <tr>
                    <th>Product</th>
                    <th>Category</th>
                    <th>Price</th>
                </tr>
                
                {% for product in products %}
                    <tr>
                        <td>{{ product.name  }}</td>
                        <td>{{ product.category  }}</td>
                        <td>{{ product.price  }}</td>
                    </tr>
                {% endfor %}

            </table>
        </div>
    </section>

    <section class="pagination w-100 my-2">
        <div class="mx-auto">
            <span class="step-links">
                {% if products.has_previous %}
                    <a href="?page=1" class="btn btn-sm btn-primary">🢀🢀</a>
                    <a href="?page={{ products.previous_page_number }}" class="btn btn-sm btn-primary">🡠</a>
                {% endif %}
            </span>
    
            <span class="current btn btn-sm btn-secondary px-2 mx-2 fw-bold">
                {{ products.number }}
            </span>
    
            <span class="step-links">
                {% if products.has_next %}
                    <a href="?page={{ products.next_page_number }}" class="btn btn-sm btn-primary">🡢</a>
                    <a href="?page={{ products.paginator.num_pages }}" class="btn btn-sm btn-primary">🢂🢂</a>
                {% endif %}
            </span>
        </div>
    </section>
    
</main>

{% endblock %}
